---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

My pedagogical approach is grounded in disability justice, alongside the work of femme scholars of color such as Leah Lakshmi Piepzna-Samarasinha, Karen L. Suyemoto, and Audre Lorde. Drawing on their insights, I teach relationally and in community with my students; during the first class of the semester in each of my courses, I name how Western models stigmatize emotion in the classroom and define teaching through hierarchical control, rather than collective meaning-making. To counter this, I approach the classroom as a space of mutual translation, where knowledge is built through collaborative processes that allow for vulnerability, and for intellectual risk-taking that allows students to stumble as they grow. I draw from transformative justice scholarship oand consent educators/organizers in this work, and scaffold structures in place throughout the semetser to address if/when hurt or harm occurs in the classroom.

As an educator, I feel that it is one of my primary jobs to ensure my students have as much power and agency over their learning as I can give them. In this way, I believe in the transformative potential of the classroom as a relational space; one that understands community-building and co-creation as necessary tools to foster generative, liberatory sites of learning 

<!-- New style rendering if teaching categories are defined -->
{% if site.teaching_category %}
  {% for category in site.teaching_category  %}
    {% assign title_shown = false %}
    {% for post in site.teaching reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
